@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    border: none;
}

body{
    background-image: url('https://image.api.playstation.com/vulcan/img/rnd/202009/2912/LnnL0eOnJlx6jSO9wZ6lXr9q.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: space-evenly;
    align-content: space-around;
    flex-wrap: wrap;
    width:80%;
    height: 85%;
}