main{
    color: #fff;
}

.capa{
    background-image: url(../assets/img1.png);
    background-repeat: no-repeat;
    background-color: #9767A9;
    background-size: 100%;
    width: 100%;
    height: 550px;
    flex-direction: row;
    display: flex;
    position: block;
}

.capa h1{
    display: flex;
    font-size: 4.2vw;
    width: 50%;
    padding: 130px;
    position: block;
    margin-top: 8rem;
    margin-left: 4rem;
}

.capa p{
    display: flex;
    font-size: 1.8vw;
    padding: 150px;
    width: 50%;
    margin-right: 4rem;
    position: relative;
    top: 155px;
}

.blocoUm{
    display: flex;
    background-color: #9767A9;
    padding-left: 2rem;
}

.blocoUm h1{
    display: flex;
    font-size: 3.6vw;
    width: 60%;
    padding: 10px;
    position: block;
    margin-left: 4rem;
}

.blocoUm p{
    display: flex;
    font-size: 1.3vw;
    width: 40%;
    position: block;
    padding: 15px;
    margin: 25px;
    margin-left: none;
    margin-bottom: 60px;
}

.blocoDois{
    position: block;
    margin-top: -4rem;
    width: 50%;
}

.blocoDois img{
    width: 300px;
    margin-left: 7rem;
    display: relative;
    width: 90%;   
}

.blocoDois h1{
    display: flex;
    font-size: 1.8vw;
    width: 70%;
    position: block;
}

.blocoDois p{
    display: flex;
    font-size: 0.vw;
    width: 100%;
    position: block;
    margin-top: 18px;
}

.fundoCard{
    background-color: #9767A9;
    position: relative;
    margin-left: 13rem;
    margin-right: 3rem;
    margin-top: -8rem;
    padding: 20px;
}